* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}


/*quiz hub title*/

.title-word {
    animation: color-animation 4s linear infinite;
}

.word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #118b4a;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}

.t1 {
    display: grid;
    place-items: left;
    text-align: left;
    height: 2cm
}

.ti {
    margin-left: 10px;
    margin-right: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.2cm;
    text-transform: uppercase;
}


/*----------------*/

#ab {
    text-decoration: none;
}

.tpc {
    color: #acacac;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    width: 80px;
    height: 80px;
}

#qh {
    text-align: center;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.2cm;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 144, 243);
}

.log {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: 350px;
    margin-top: auto;
    background: transparent;
}

#log {
    border-radius: 12cm;
    background: transparent;
    transition: all 0.5s;
}

#log:hover {
    background-color: darkorange;
}

.login {
    text-decoration: none;
    color: white;
}

.sig {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: 250px;
    margin-top: auto;
    background: transparent;
    transition: all 0.5s;
}

#sig {
    border-radius: 12cm;
    background: transparent;
    transition: all 0.5s;
}

#sig:hover {
    background-color: darkorchid;
}

.men {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: 150px;
    margin-top: auto;
    background: transparent;
    transition: all 0.5s;
}

#men {
    border-radius: 12cm;
    background: transparent;
    transition: all 0.5s;
}

#men:hover {
    background-color: indianred;
}

.mst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 400px;
    height: 150px;
    outline: thick;
    border: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.mst1 {
    display: block;
    padding: 12px 20px;
    border-radius: 12px;
    height: 105px;
    background: transparent;
    transform: translate3d(-4px);
}

.mst:active .mst1 {
    transform: translate3d(-2px);
}

.mst:hover {
    background-color: rgba(66, 179, 168, 0.75);
}

.mst1:hover {
    background-color: rgb(84, 196, 236);
}

#mst {
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    color: #fff;
}

.grb {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

.grb:hover {
    --p: 100%;
    color: #fff;
}

.emoji {
    font-size: 35px;
}

.quiz-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(90, 76, 146);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 50%;
    height: auto;
    overflow: hidden;
}

.grquiz {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: upper-alpha;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #f1349c;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #db18f1;
}

button:focus {
    outline: none;
    background-color: #10c72e;
}


/*CHEMISTRY*/

.ch {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#ch {
    text-decoration: none;
}

.ch:hover {
    background-color: rgb(30, 49, 255);
    opacity: 0.9;
}


/*---------*/


/*GK*/

.gk {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#gk {
    text-decoration: none;
}

.gk:hover {
    background-color: rgb(34, 230, 109);
    opacity: 0.9;
}


/*---------*/


/*FDS*/

.fds {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#fds {
    text-decoration: none;
}

.fds:hover {
    background-color: rgb(229, 47, 74);
    opacity: 0.9;
}


/*---------*/


/*discrete maths*/

.dm {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#dm {
    text-decoration: none;
}

.dm:hover {
    background-color: rgb(30, 244, 255);
    opacity: 0.9;
}


/*EEE*/

.eee {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#eee {
    text-decoration: none;
}

.eee:hover {
    background-color: rgb(83, 150, 136);
    opacity: 0.9;
}


/*HTML*/

.hm {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#hm {
    text-decoration: none;
}

.hm:hover {
    background-color: rgb(255, 255, 30);
    opacity: 0.9;
}


/*PHY*/

.ph {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#ph {
    text-decoration: none;
}

.ph:hover {
    background-color: rgb(198, 118, 21);
    opacity: 0.9;
}


/*Botany*/

.bn {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#bn {
    text-decoration: none;
}

.bn:hover {
    background-color: rgb(15, 145, 84);
    opacity: 0.9;
}


/*C Programming*/

.cp {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

#cp {
    text-decoration: none;
}

.cp:hover {
    background-color: rgb(31, 92, 110);
    opacity: 0.9;
}


/*Homepage*/

.hp {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    width: 250px;
    height: 110px;
    outline: thick;
    border-radius: 100px;
    background: transparent;
    cursor: pointer;
    transition: all 0.7s;
}

#hp {
    text-decoration: none;
    transition: all 0.7s;
}

#hp:hover {
    background-color: rgb(152, 20, 246);
    opacity: 0.9;
}


/*---------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fffcfc;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}